snippet divcon "template for input controls wrapped with bulma class containers"
	<div class="field">
    <%= form.label :${1:attr}, class: "label" %>
    <div class="control">
			${2:form_tag}
    </div>
  </div>
endsnippet 
